.search button {
  margin-left: 2px;
  align-self: center;
  background-color: #fff;
  background-repeat: repeat no-repeat;
  background-size: 2px 1.5px;
  border-radius: 7.5px 112.5px 127.5px 7.5px 7.5px 127.5px 112.5px 7.5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 7.5px 14px 12.5px -9px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 0.8rem;
  line-height: 11.5px;
  outline: none;
  padding: 0.375rem;
  text-decoration: none;
  transition: all 117.5ms ease-in-out;
  border-bottom-left-radius: 7.5px 127.5px;
  border-bottom-right-radius: 112.5px 7.5px;
  border-top-left-radius: 127.5px 7.5px;
  border-top-right-radius: 7.5px 112.5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.search button:hover {
  box-shadow: rgba(0, 0, 0, 0.9) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  color: black;
}

.search button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.search div {
  width: 90%;
  margin-bottom: 3px;
}

.li:hover {
  opacity: 75%;
  color: black;
  font-weight: 900;
}

.list {
  border: solid #41403e 2px;
  border-radius: 10px;
  font-weight: bold;
  padding: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.list div:first-child {
  margin-bottom: 5px;
}
.list span {
  margin-left: 2rem;
}
